<launch>
<!-- 
/fixposition/navsatfix     
/fixposition/odometry         
/fixposition/odometry_enu       
/zed2i/zed_node/imu/data
/zed2i/zed_node/imu/data_raw
/velodyne
-->
    <arg name="project" default="lio_sam_6axis"/>
    <arg name="bag_path" default="flm"/>
    <arg name="sequence" default="flm"/>

    <!-- Parameters -->
    <!--    <rosparam file="$(find lio_sam_6axis)/config/params_ouster.yaml" command="load"/>-->
    <rosparam file="$(find lio_sam_6axis)/config/params_vlp_jzy.yaml" command="load"/>

    <!--- LOAM -->
    <param name="saveDirectory" type="string" value="$(find lio_sam_6axis)/data/"/>
    <param name="configDirectory" type="string" value="$(find lio_sam_6axis)/config/"/>
    <rosparam param="sequence" subst_value="true">$(arg sequence)</rosparam>
    <include file="$(find lio_sam_6axis)/launch/include/module_loam.launch"/>
    <!--include file="$(find lio_sam_6axis)/launch/include/module_navsat.launch" /-->

    <!--- Robot State TF -->
    <include file="$(find lio_sam_6axis)/launch/include/module_robot_state_publisher.launch"/>

    <!--- Run Navsat -->
    <node pkg="lio_sam_6axis" type="lio_sam_6axis_gpsOdometry" name="lio_sam_6axis_gpsOdometry">
    <remap from="/gps/fix" to="/fix" />
    </node>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz"
          args="-d $(find lio_sam_6axis)/launch/include/config/vlp.rviz"/>

</launch>
